.apartmentTag {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    background: #FF6060;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.25rem 1rem 0.25rem 0;
    padding: 0.25rem 2rem;
}

@media screen and (max-width: 650px) {

}
