.apartmentTitle {
    color: #FF6060;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.apartmentLocation {
    color: #FF6060;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}